body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efe3e3+0,eef9d4+100 */
	background: #efe3e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #efe3e3 0%, #eef9d4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #efe3e3 0%,#eef9d4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #efe3e3 0%,#eef9d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe3e3', endColorstr='#eef9d4',GradientType=0 ); /* IE6-9 */
	color: #000000; 
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
}
div{
	border: 1px solid black;
}
strong{
	font-weight: bold;
}

footer{
	height: 45px;
	clear: both;
	font-style: italic; 
	background-color: #EFE3E3;
}
h1{
	text-align: center;
	color: #008000;
	font-weight: bold;
	font-size: 20px;
}
h2{
	color: #228b22;
	font-weight: bold;
	font-size: 18px;
}
hr {
	margin: 2px auto;
}
section {
	margin: 10px 70px;
	height: 180px;
}
p{
	text-indent: 25px;
}
a{
	color: #0000FF;
}
a:visited{
	color: purple;
}
a:hover{
	color: red;
	text-decoration: none;
}
/*Страница Дары леса */
figure {
	display: block;
	//float: left;
	text-align: center;
	margin: 6px;
	//overflow:hidden;
}
section figure {
	float: left;
}
figure img {
	width: 200px;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
 }
 figure img:hover{         /* Наведение на картинку-ссылку  */ 
 -webkit-transform: scale(1.15);
 -moz-transform: scale(1.15);
 -o-transform: scale(1.15);
 transform: scale(1.15);
 }
#logo {
	width: 223px;
	height: 82px;
	float: right;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c03643+0,c23845+8,c63846+10,cb3a49+19,d84152+37,ffd8d8+100 */
	background: #c03643; /* Old browsers */
	background: -moz-linear-gradient(left,  #c03643 0%, #c23845 8%, #c63846 10%, #cb3a49 19%, #d84152 37%, #ffd8d8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #c03643 0%,#c23845 8%,#c63846 10%,#cb3a49 19%,#d84152 37%,#ffd8d8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #c03643 0%,#c23845 8%,#c63846 10%,#cb3a49 19%,#d84152 37%,#ffd8d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c03643', endColorstr='#ffd8d8',GradientType=1 ); /* IE6-9 */
}
#logo a {
	color: lime;
	font-weight: bold;
}
#logo p {
	margin: 32px 0;
}
.blueberries {
	background: url("../img/bilberry.jpg") no-repeat;
	height: 450px; 
	width: 600px; 
	margin: auto;
}
.blueberries:hover {
	background: url("../img/blueberries_big.jpg") no-repeat;
	height: 663px; 
	width: 900px; 
	border: 2px solid #336633;
	transition: all 1s;
}


.timber {
	background: url("../img/timber.jpg") no-repeat;
	height: 450px; 
	width: 600px; 
	margin: auto;
}
.timber:hover {
	background: url("../img/raspberry_big.jpg") no-repeat;
	height: 663px; 
	width: 900px; 
	border: 2px solid #336633;
	transition: all 1s;
}
.cranberry {
	background: url("../img/cranberry.JPG") no-repeat;
	height: 450px; 
	width: 600px; 
	margin: auto;
}
.cranberry:hover {
	background: url("../img/cranberry_big.jpg") no-repeat;
	height: 663px; 
	width: 900px; 
	border: 2px solid #336633;
	transition: all 1s;
}
.boletus {
	background: url("../img/boletus.jpg") no-repeat;
	height: 450px; 
	width: 600px; 
	margin: auto;
}
.boletus:hover {
	background: url("../img/boletus_big.jpg") no-repeat;
	height: 663px; 
	width: 900px; 
	border: 2px solid #336633;
	transition: all 1s;
}
#wrapper{
	max-width: 960px;
	margin: 0 auto;
	//height: inherit;
}
#center{
	//min-height: 700px;
	width: 85%;
	float: right;
}
#center p:first-letter{
	color: green;
	font-size: 20px;
}
#left{
	//min-height: 250px;
	overflow: auto;
	//max-width: 14.6%;
}
menu {
	display: inline-block;
	background: #fcc;
	border-radius: 10px;
	padding: 5px;
	margin: 0 30px;
}
menu  a{
	text-decoration: none;
	font-size: 18px;
	margin: 25px;
	text-align: center;
}
#news p{
	margin: 10px 20px;
	text-indent: 0;
}	